/* Navbar */
.navSize{
    height: 90px;
}

.navBrand{
    height: 60px;
    width: 60px;
}

.navItem{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

/* Hero Section */

.sectionGap{
    margin-top: 100px;
    /* margin-bottom: 100px; */
}

.header1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    font-family: 'Poppins', sans-serif;
}
.typing {
    font-size: 32px;
    font-weight: 600;
    line-height: 68px;
    font-family: 'Poppins', sans-serif;
}

.typingSpan{
    color:rgb(133, 76, 230);
}

.peragraph {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 42px;
    font-family: 'Poppins', sans-serif;
    /* color: rgba(242, 243, 244, 0.584); */
}

/* Expertise Section */

.card-hover:hover {
    background-color: rgb(133, 76, 230); 
    transition: background-color 0.3s ease;
}


.image:hover {
    transform: scale(1.05);
    opacity: 1;
    color: #fff;
    /* background: #222425; */
}

/* FAQ */

.title {
    font-size: 32px;
    font-weight: 600;
    /* line-height: 68px; */
    font-family: 'Poppins', sans-serif;
}

.desc {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 42px;
    font-family: 'Poppins', sans-serif;
}